.header{
  color: 	#FED905;
}
.toppic{
  height: 10vw;
  width:auto;
}
.link{
  margin-top: 10vw;
  color: #FFFFFF;
  padding-right: 2vw;
  font-size: 2vw;

}
.navbar-brand{
  width: 10vw;
  height: auto;

}
.apple{
  width:10vw;
  float:left;
}
.navbar{
  background-color: darkred;

}
#basic-nav-dropdown{
  font-family: ethnocentricregular;
  color: #FED905;
  text-shadow: 2px 2px #070007;
  font-size: 2vw;
}
.top{
  padding-top: 3vw;
  padding-right: 4vw;
  font-size: 4vw;
  font-family: 'Gloria Hallelujah', cursive;
}
.Utop{
  padding-right: 4vw;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2vw;
}
